In [6]:
#empty list
list=[]
print(type(list))

<class 'list'>

In [8]:
#create a list 
list2=[10,'Suraj',True,10.6,'Ashu',10]
print(list2)

[10, 'Suraj', True, 10.6, 'Ashu', 10]

In [10]:
#slicing
print(list2[1:4])

['Suraj', True, 10.6]

In [16]:
#Count
print(list2.count('Ashu'))
print(list2.count(10))

1
2

In [56]:
#index 
print(list2.index('Suraj'))
print(list2.index('Ashu'))
print(list2.index(10))
print(list2.index(10,1))

1
4
0
5

In [60]:
#insrt
list2.insert(2,'coding')
print(list2)

[10, 'Suraj', 'coding', 'coding', True, 10.6, 'Ashu', 10]

In [64]:
#pop - deletion 
list2.pop(2)
print(list2)

[10, 'Suraj', 10.6, 'Ashu', 10]

In [66]:
#extend 
list3=['Aniket','Deepak']
list2.extend(list3)
print(list2)

[10, 'Suraj', 10.6, 'Ashu', 10, 'Aniket', 'Deepak', 'Aniket', 'Deepak']

In [71]:
#copy 
#list4=list2.copy() or 
list4=list2[:]  # note :-[0:n-1]
print(list4)

[10, 'Suraj', 10.6, 'Ashu', 10, 'Aniket', 'Deepak', 'Aniket', 'Deepak']

In [74]:
#sort
list4.sort()
print(list4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [81]:
#sort 
list5=[10,30,50,80,70,20,40,60]
list5.sort()
print(list5)  # Ascending order 
list5.sort(reverse=True) # Descending order 
print(list5)

[10, 20, 30, 40, 50, 60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10]

In [86]:
#reverse
#list5.reverse()
print(list5)

[10, 20, 30, 40, 50, 60, 70, 80]

In [89]:
#append
list5.append(90)
print(list5)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 90, 90]

In [2]:
#nested list 
list6=[10,130,34,10,['Ram','Shayam']]
print(list6)

[10, 130, 34, 10, ['Ram', 'Shayam']]

In [5]:
#list unpacking 
list7=['ram','shyam']
name1,name2=list7
print(name1)
print(name2)

ram
shyam

In [23]:
Name=[1,2,3,"Code"]
print(Name[0:3:1])
print(Name[2:4])
print(Name[0:5:2])
print(Name[:4])
print(Name[::])
print(Name[0::3])
print(Name[-1:-4:-1])
print(Name[-1:-5:-2])
print(Name[-2:-6:2])
print(Name[-1::-1])
print(Name[-3:-11])
print(Name[-1:-1:-1])

[1, 2, 3]
[3, 'Code']
[1, 3]
[1, 2, 3, 'Code']
[1, 2, 3, 'Code']
[1, 'Code']
['Code', 3, 2]
['Code', 2]
[]
['Code', 3, 2, 1]
[]
[]